<div class="flex justify-between">
  <div class="pl-[200px]">
    <h1 class="text-[42px] pt-[100px] pb-[40px]">CONTACT US</h1>
    <p class="text-[16px] font-medium pb-[4px]">Name</p>
    <input
      class="border-[2px] border-green-400 w-[400px] h-[40px] rounded-md"
      type="
        
     "
    />
    <p class="text-[16px] font-medium pt-[15px] pb-[4px]">Email</p>
    <input
      class="border-[2px] border-green-400 w-[400px] h-[40px] rounded-md"
      type="
        
     "
    />
    <p class="text-[16px] font-medium pt-[15px] pb-[4px]">Subject</p>
    <input
      class="border-[2px] border-green-400 w-[400px] h-[40px] rounded-md"
      type="
        
     "
    />
    <p class="text-[16px] font-medium pt-[15px] pb-[4px]">Message</p>
    <textarea
      class="
        border-[2px] border-green-400
        w-[400px]
        resize-none
        h-[120px]
        rounded-md
      "
      type="
        
     "
    ></textarea>
  </div>
  <img src="assets/contact.png" class="h-[500px] mt-[150px]" />
</div>
