<div class="flex w-full justify-between">
  <img src="assets/about.png" class="h-[600px] mt-[120px]" />
  <div class="pr-[150px]">
    <h1 class="text-[42px] pt-[150px]">ABOUT US</h1>
    <p class="pt-[40px] w-[400px] text-[18px]">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <p class="py-[40px] w-[400px] text-[18px]">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
  </div>
</div>
