<!-- HEADER -->
<div
  class="
    w-full
    h-[80px]
    flex
    justify-between
    items-center
    px-[100px]
    bg-green-400
  "
>
  <div>
    <h1 class="text-white">YOUR LOGO</h1>
  </div>

  <div class="flex gap-[30px]">
    <h2 class="text-white">HOME</h2>
    <h2 class="text-white">ABOUT</h2>
    <h2 class="text-white">CONTACT</h2>
  </div>
</div>

<!-- HERO -->
<div class="flex justify-between">
  <div class="pl-[100px]">
    <h2 class="text-[45px] pt-[150px]">
      CREATIVE <br />
      TEAM
    </h2>
    <p class="py-[40px] w-[400px]">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <button class="bg-green-400 h-[48px] w-[165px] rounded-full text-white">
      JOIN NOW
    </button>
  </div>
  <div><img src="assets/hero.png" class="h-[550px] mt-[100px]" /></div>
</div>
